body{
    background-color: grey;
    display: block;
    align-items: center;
}
.topContainer{
    border: 10px solid red;
    background-color: white;
    border-radius: 20px;
    width: 30%;
    position: absolute;
    text-align: center;
    left: 484px;
    box-shadow: 9px 9px 5px purple;
    height: 160px; 
    font-style: italic;
    font-family: 'Times New Roman', Times, serif;
    color: brown;
    text-shadow: 2px 2px 2px #c337c3;
    line-height: 45px; 
}
h1{
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
    color: chartreuse;
    text-shadow: 2px 2px crimson;
}
h2{
    margin-top: 14px;
}
.lineContainer{
    display: block;
    position: absolute;
    width: 99%;
    top: 195px;
}
.line{
    border: 1px solid white;
    margin-bottom: 7px;
    height: 1px;
    border-radius: 2px;
}
.middleContainer{
    border: 6px solid green;
    width: 98%;
    height: 620px;
    position: absolute;
    top: 244px;
}
.box{
    border: 10px solid red;
    border-radius: 16px;
    width: 16%;
    height: 240px;
    position: absolute;
    margin: 2px;
    background-color: white;
    box-shadow: 9px 9px 3px purple;
}
#boxLeft{
    left: 0px;
    font-style: normal;
    color: #02021f;
    text-align: center;
    text-shadow: 2px 2px 2px #903990;
    line-height: 45px;
}
#boxRight{
    right: 6px;
}
.imageBox{
    background-image: url(./Capture.PNG);
    height: 122px;
    width: 185px;
    background-size: 185px;
    position: absolute;
    top: 62px;
    left: 23px;
}
#boxBottomLeft{
    font-style: normal;
    color: #02021f;
    text-align: left;
    text-shadow: 2px 2px 2px #903990;
    line-height: 30px;
    bottom: 10px;
}
#boxBottomRight{
    font-style: normal;
    color: #02021f;
    text-align: center;
    text-shadow: 2px 2px 2px #903990;
    /* line-height: 0px; */
    bottom: 10px;
    right: 6px;
}
.fixedBox{
    border: 10px solid red;
    border-radius: 16px;
    background-color: #8cf712;
    width: 35%;
    height: 80px;
    position: fixed;
    top: 500px;
    left: 450px;
    display: flex;
    justify-content: center;
    box-shadow: 8px 8px 4px purple;
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
    color: brown;
}
.div1{
    /* border: 1px solid black; */
    text-align: center;  
    margin-right: 10px;
    margin-top: 10px;
}
.div2{
    /* border: 1px solid black; */
    text-align: center;
    margin-left: 20px;
    margin-bottom: 15px;
}
.form{
    line-height: 18px;
}
::placeholder{
    text-align: center;
}
#textbox{
    text-align: center;
}
button{
    border: 1px solid grey;
    border-radius: 10px;
    background-color: red;
    box-shadow: 1px 1px ;
}
.bottomContainer{
    border: 6px solid purple;
    background-color: green;
    text-align: center;
    width: 60%;
    display: block;
    position: absolute;
    top: 895px;
    left: 298px;
    height: 575px;
}
.bottomContainerHeading{
    font-size: large;
    font-weight: bold;
    margin: 20px;
    text-align: center;
}
.lineFruits{
    border: 2px solid lightgray;
    background-color: lightgray;
}
.fruits{
    border: 2px solid darkgrey;
    background-color: #ffff99;
    /* display: inline-block; */
    width: 49%;
    height: 230px;
    position: absolute;
    left: 3px;
    text-align: center;
}
.vegetables{
    border: 2px solid darkgrey;
    background-color: #ffff99;
    width: 49%;
    height: 230px;
    /* display: inline-block; */
    position: absolute;
    right: 3px;
}
.fruitsVegetablesHeading{
    font-size: x-large;
    font-style: italic;
    font-weight: bold;
    margin-top: 20px;
    margin-bottom: 15px;
}
.Varieties{
    font-style: italic;
    line-height: 35px;
    margin-top: 10px;
    font-size: larger;
}
.otherItemsHeading{
    font-size: x-large;
    font-style: italic;
    font-weight: bold;
    margin-top: 25px;
    margin-bottom: 20px;
}
.otherItems{
    border: 2px solid grey;
    width: 100%;
    height: 260px;
    background-color: #ffff99;
    position: absolute;
    top: 305px;
    left: 2px;
}
